/* Base Element Styling */
body {
  font-family: 'Pathway Gothic One', sans-serif;
  padding: 1em 6em;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

audio {
  display: none;
}

h1 {
  font-size: 3em;
}

/* Laugh */

.laugh {
  float: left;
  width: 30%;
}

body .laugh:nth-child(3n+3) {
  margin: 0 5%;
}

.laugh img {
  width: 100%;
}

@media all and (max-width: 700px) {
  body {
    padding: .5em 3em;
  }
}

@media all and (max-width: 500px) {
  body {
    padding: .5em;
  }

  .laugh {
    width: 100%;
    margin: 1em 0;
  }

  body .laugh:nth-child(3n+3) {
  margin: 0;
}
}
