<!DOCTYPE html>
<html>
<head>
  <title>Rap Laughs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
  <span>An Abraham, Priya, Chris, KCHAMP & Wilson production. Created as a part of a <a href="http://devbootcamp.com" target="_blank">Dev Bootcamp</a> hackathon.</span>
</footer>
</body>
</html>
